
body {
    background-color: #111;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/68987724825313.5633aae959179.jpg');
    background-size: cover;
    background-attachment: fixed;
}



.teised_lehed{
    text-align: right;
}

h1{
    font-size: 250%;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 200%;
    color: rgb(255, 255, 255);
}

p {
    font-size: 150%;
    color: rgb(255, 255, 255);
}

.suur_pilt{
    max-width: 100%;
    min-width: 200px;
    border-radius: 20px;
    margin-top: 10%;
}

.keskmine_pilt{
    max-width: 500px;
    max-height: 100%;
}


.column{
    float: left;
    width: 48%;
    padding: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
  }

.nava {
    font-size: 160%;
    color: azure;
}

.navbar{
    position: sticky;
    z-index: 100;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



.navli {
    float: left;
}

.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


.navli a:hover:not(.active) {
    background-color: #111;
  }

.active{
    background-color: #04AA6D;
  }

.navli a:hover:not(:not(.active)){
    background-color: #004d30;
}


